<div class="container-main">
     <div>
        <button mat-raised-button color="accent"  routerLink="/country-list" >Back</button>
     </div>
     <div class="container-first">
         <div class="container-first-section"><img style="width: 430px;"  src="{{countryDetails?.flag}}" alt="Photo of a Shiba Inu"></div>
         <div class="container-first-section section-info">
            <div class="info-box">
                <strong>{{countryDetails?.name}}</strong>
                 <p>Native name :{{countryDetails?.nativeName}}</p>
                 <p>Population :{{countryDetails?.population}}</p>
                 <p>Region :{{countryDetails?.region}}</p>
                 <p>Sub Region :{{countryDetails?.subregion}}</p>
                 <p>Capital :{{countryDetails?.capital}}</p>
            </div>
            <div class="info-box">
                <p>Top Level Domain :{{countryDetails?.topLevelDomain}}</p>
                <p>Currencies :{{countryDetails?.currencies}}</p>
                <p>Language :{{countryDetails?.languages}}</p>
            </div>
        </div>
     </div>
     <div>
        Border countries  
        <div *ngFor="let border of borders,let i =index">
            <button mat-stroked-button color="accent" >{{border}}</button>
        </div>
     </div>
</div>
