<!-- <app-wordlist></app-wordlist>
<router-outlet></router-outlet> -->

<div class="sidebar-container">
    <mat-toolbar color="primary" class="sidebar-toolbar">
      <div class="header-dev-section">
          <div class="header-dev-contact">
            <strong>Where in the world ?</strong>
           </div>
       </div>
       <div class="header-dev-section">
         
            <div class="header-profile-container">
              <span class="arbic-img"><img class="img"src="assets/icons/arabic2.png"/></span>
               <span><strong>Dark Mode</strong></span>
           </div>
       </div>
   </mat-toolbar>
   <router-outlet></router-outlet>
   <!-- <mat-sidenav-container class="sidebar-sidenav-container">
   <mat-sidenav #snav mode="side" fixedTopGap="56"  opened="true">
     <mat-nav-list>
       <mat-list-item><span>Animated counter</span></mat-list-item>
       <mat-list-item routerLink="globleTableData">Dynamic table</mat-list-item>
       <mat-list-item  routerLink="testgraf">Test Graf</mat-list-item>
     </mat-nav-list>
  </mat-sidenav>
   <mat-sidenav-content class="router-container">
     <router-outlet></router-outlet>
   </mat-sidenav-content>
 </mat-sidenav-container> -->
  <!-- <app-footer></app-footer> -->
</div>
